
<%= form_tag "/shortest_path", :remote=>true do |f|%>
From : <%= select_tag :from, options_from_collection_for_select(Station.all,"id","name"),:include_blank => "Please select a station ",:id => "from" %>
To : <%= select_tag :to, options_from_collection_for_select(Station.all,"id","name") ,:include_blank => "Please select a station", :id => "to"%>
<input type="submit" disabled class="submit">
<%end%>
<div id="path" ></div>
<script type="text/javascript">
 $('#from').change(function(){
		check_vakidation();
});
  $('#to').change(function(){
		check_vakidation();
});

 function check_vakidation(){
 	from = $('#from').val();
 	to = $('#to').val();
 	if((from && to) && (from != to)){ 		
 		$(".submit").prop('disabled', false);}
 		else{
 			$(".submit").prop('disabled', true);
 	}
 }
</script>
